<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="search">
        <div class="search_box">
            <form method="GET" action="/search" enctype="application/x-www-form-urlencoded">
                <input class="keyword" type="TEXT" name="q" value="{{ .Title }}">
                <button class="search_btn" type="submit">Search</button>
            </form>
        </div>
        <div class="results">
        {{ range .SearchResult.Items }}
            <div class="result">
                <h3><a href="{{ .Link }}">{{ .HtmlTitle }}</a></h3>
                <div>
                    <div><span>{{ .HtmlFormattedUrl }}</span></div>
                    <p>{{ .HtmlSnippet }}</p>
                </div>
            </div>
        {{ end }}
        </div>
        <div class="cursor">
            <ul class="labels">
                {{ if .Cursor.Previous.Count }}
                <li>
                    <a href="/search?q={{ .Keyword }}&start={{ .Cursor.Previous.StartIndex }}">Previous</a>
                </li>
                {{ end }}
                {{ if .Cursor.Next.Count }}
                <li>
                    <a href="/search?q={{ .Keyword }}&start={{ .Cursor.Next.StartIndex }}">Next</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="search-info">
            <span>Total results: {{ .SearchResult.SearchInformation.FormattedTotalResults }} , used {{ .SearchResult.SearchInformation.FormattedSearchTime }} s.</span>
        </div>
    </body>
</html>
